<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>查询 OpenAI API 消费情况</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入 echarts 库 -->
    <script src="/echarts.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1 class="heading">查询 OpenAI API 消费情况</h1>
    <p class="subheading">本站不保存 KEY 信息，可点击<a
            href="https://github.com/Scorpio-xu/openai-balance-query">查看源码</a></p>
    <form onsubmit="event.preventDefault(); balanceQuery();">
        <label for="apikey">请输入 API Key:</label>
        <input type="text" id="apikey" name="apikey">
        <button type="button" onclick="balanceQuery()">查询</button>
    </form>
    <div class="result" id="result"></div>
    <div class="subheading" id="msg"></div>
    <!-- 添加柱状图容器 -->
    <div id="chart" class="chart"></div>
</div>
<footer>
    <div class="footer">
        <p>本站前端代码由 ChatGPT 生成，感谢 ChatGPT ，感谢这个时代的便利 🙏</p>
        <a href="https://github.com/Scorpio-xu/openai-balance-query" target="_blank">
            <img src="https://img.shields.io/badge/Scorpio--xu-openai--balance--query-759aa0?logo=github" alt="GitHub">
        </a>
    </div>
</footer>
<script src="/script.js"></script>
</body>
</html>
